@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/icons/material-icon.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login-app .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
}

#login-app #app-loading-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: rgb(40, 59, 74);
}

#login-app #app-loading-container .orig {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

#login-app #app-loading-container.hide-loading {
    z-index: -1;
}

#login-app .login-app {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#login-app .login-app .container-login100 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background: #001d48; */
    /* background: rgba(43, 69, 88, 1); */
    background: url(assets/map.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-color: rgb(40, 59, 74);
}

#login-app .login-app .wrap-login100 {
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding: 35px 45px;
    background: rgba(19, 35, 47, 0.7);
    box-shadow: 3px 3px 20px 0px black;
    border: 1px solid #0f1c25;
}

#login-app .login-app a {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}

#login-app .login-app a:focus {
    outline: none !important;
}

#login-app .login-app a:hover {
    text-decoration: none;
    color: #037275;
}

#login-app .login-app input {
    outline: none;
    border: none;
}

#login-app .login-app input:focus::-webkit-input-placeholder {
    color: transparent;
}

#login-app .login-app input:focus:-moz-placeholder {
    color: transparent;
}

#login-app .login-app input:focus::-moz-placeholder {
    color: transparent;
}

#login-app .login-app input:focus:-ms-input-placeholder {
    color: transparent;
}

#login-app .login-app input::-webkit-input-placeholder {
    color: #adadad;
}

#login-app .login-app input:-moz-placeholder {
    color: #adadad;
}

#login-app .login-app input::-moz-placeholder {
    color: #adadad;
}

#login-app .login-app input:-ms-input-placeholder {
    color: #adadad;
}

#login-app .login-app button {
    outline: none !important;
    border: none;
    background: transparent;
}

#login-app .login-app button:hover {
    cursor: pointer;
}

#login-app .login-app .wrap-sign-up {
    width: 500px;
    background: rgba(19, 35, 47, 1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    padding: 25px 55px;
    margin: 5px 0px 5px 0px;
}

#login-app .login-app .login100-form {
    width: 100%;
}

#login-app .login-app .login100-form-title {
    display: block;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: serif;
    border-bottom: 2px solid #1b7275;
}

#login-app .login-app .wrap-input100 {
    width: 100%;
    position: relative;
    background: rgba(19, 35, 47, 1);
}

#login-app .login-app .label-input100 {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    padding-left: 7px;
}

#login-app .login-app .input100 {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0 7px 0 48px;
}

#login-app .login-app .wrap-sign-up .wrap-input100 .input100 {
    padding: 0 7px 0 15px;
}

#login-app .login-app i.material-icons {
    position: absolute;
    bottom: 12px;
    left: 8px;
    color: #d9d9d9;
}

#login-app .login-app .input100:focus~i.material-icons {
    color: #037275;
}

#login-app .login-app .has-val.input100~i.material-icons {
    color: #037275;
}

#login-app .login-app .container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#login-app .login-app .wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    background: #037275;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

#login-app .login-app .login100-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 48px;
}

#login-app .login-app .error-container {
    height: 30px;
}

#login-app .login-app .error-message {
    color: #ff9393;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 10px;
}

#login-app .login-app .hidden {
    display: none;
}

/* changes in style */

#login-app .login-app .input-container input {
    border: 2px solid #000000;
    height: 48px;
    border-radius: 5px;
    color: white;
}

#login-app .login-app .input-container input:focus {
    border: 2px solid #037275;
    transition: all 0.4s;
}

#login-app .container-sign-up .wrap-input100 {
    margin-bottom: 5px;
}

.saveDevContainer {
    display: none;
}

@media (min-width: 481px) and (max-width: 1000px) {
    #login-app .login-app .container-login100 {
        display: block;
        padding: 30px;
        overflow: auto;
    }
    #login-app .login-app .wrap-login100 {
        min-width: 300px;
        width: auto;
        margin: 0 auto;
        padding: 20px 30px;
        top: calc(50% - 250px);
        position: relative;
    }
    @media (max-height: 570px) {
        #login-app .login-app .wrap-login100 {
            top: 0px;
        }
    }
}

@media (max-width: 480px) {
    #login-app .login-app .container-login100 {
        display: block;
        padding: 30px;
        overflow: auto;
    }
    #login-app .login-app .wrap-login100 {
        min-width: 260px;
        width: auto;
        margin: 0 auto;
        padding: 20px 30px;
        top: calc(50% - 250px);
        position: relative;
    }
    @media (max-height: 570px) {
        #login-app .login-app .wrap-login100 {
            top: 0px;
        }
    }
}