html,
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

iframe {
    outline: 0;
    border: 0;
}

#top-widget {
    width: 100%;
    height: 90px;
    overflow: hidden;
    float: left;
}

#center-widget {
    width: 100%;
    height: 100%;
    /* height: calc(100% - 90px); */
    float: left;
}

#right-widget {
    width: 25%;
    height: calc(100% - 90px);
    float: left;
}

.expired-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 20px;
}

.expired {
    border: 1px solid #b38600;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #292929;
}

.expired .ok {
    display: inline;
    border: 1px solid #003977;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    padding: 6px 15px;
    background: #003977;
}

.hide {
    display: none;
}